<h2 mat-dialog-title class="titulo-dialogo">Agregar Nuevo Rol</h2>
    <form [formGroup]="rolForm" (ngSubmit)="guardarRol()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre del Rol</mat-label>
        <input matInput formControlName="nombre" required />
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button (click)="onCancelar()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </div>
    </form>
