<div class="login-container">
  <mat-card class="login-card">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="contraseña" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="button" (click)="onSubmit()">Ingresar</button>
    </form>
  </mat-card>
</div>
